.navbar {
    position: sticky;
      width: 100%;
        background: linear-gradient(to right, #2c3e50, #bdc3c7);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 20px;
        z-index: 2;
      }
      .title{
        text-decoration: none;
        color: #fff;
      }
      .navbarTitle {
        display: flex;
        font-size: 26px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
      }
      .navbarNav {
        list-style: none;
        display: flex;
        gap: 2rem;
        margin: 0;
        padding: 0;
      }
      
      .navItem {
        display: flex;
        font-size: 1.2rem;
        width: 4.2rem;
        max-height: 1.7rem;
        margin-right: 1.5rem;
      }
      .navLink{
        display: flex;
        text-decoration: none;
        color: #1a1a1a;
        transition: color 0.3s ease;
        opacity: 0.8;
  
      }
    .navLink p{
      text-align: center;
      margin-right: 5px;
      position: relative;
      margin-top: 10px;
      bottom: 12px;
    }
      .navLink:hover {
        box-shadow: 2px 3px 4px #fff;
        opacity: 1;
      }
      .navbarNav button{
        color: #1a1a1a;
        background-color: #aeb5bdd3;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
      }
      
    .hamburgerButton{
      display: flex;
      justify-content: center;
        height: 1.8rem;
        width: 2.5rem;
        opacity: 0;
    }
    
      @media (max-width: 750px) {
        .hamburgerButton{
            opacity: 1;
        }
        .hamburgerIcon{
          position: relative;
          bottom: 1rem;
            font-size: 30px;
        }
        .navbarNav {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 55px; /* Adjust this value as needed */
          left: 0;
          background:linear-gradient(to right, #2c3e50, #bdc3c7);;
          width: 100%;
          z-index: 1;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      
        .navbarNav.active {
          display: flex;
        }
      
        .navItem {
          display: flex;
          font-size: 1.2rem;
          margin: .3rem 1rem;
          text-align: center;
        }
      
        .navLink {
          text-decoration: none;
          color: #fff;
          height: 2rem;
          transition: color 0.3s ease;
        }
      
        .navLink:hover {
          color: #f0f0f0;
        }
      }